<!--{% load static %}-->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Contact Us - MediCare Pharmacy</title>-->
<!--</head>-->
<!--<body>-->

<!--    <div align="right">-->
<!--        <a href="{% url 'home' %}">Back</a>-->
<!--    </div>-->

<!--    <h2 align="center">Contact Us</h2>-->
<!--    <hr>-->

<!--    &lt;!&ndash; Replaced h1 with div to remove extra top/bottom space &ndash;&gt;-->
<!--    <div align="center">-->
<!--        <img src="{% static 'images/logo.png' %}" alt="logo" height="250" width="300">-->
<!--    </div>-->

<!--    <p align="center">-->
<!--        <b>Owner:</b> Manjula Rachamreddy <br>-->
<!--        <b>Phone:</b> 8886392162 <br>-->
<!--        <b>Email:</b> r.manjureddy1011@gmail.com <br>-->
<!--        <b>Address:</b> MediCare Pharmacy, Main Road, Hyderabad, India-->
<!--    </p>-->
<!--    <hr>-->

<!--    <h3 align="center">Customer Support</h3>-->
<!--    <p align="center">-->
<!--        For any queries regarding orders, medicines, or services, reach out to us.<br>-->
<!--        <b>Toll-Free:</b> 1800-123-456 <br>-->
<!--        <b>Working Hours:</b> 9:00 AM – 9:00 PM (All Days)-->
<!--    </p>-->

<!--    <hr>-->
<!--    <p align="center">-->
<!--        Copy Rights @ Sathya Technology &emsp;-->
<!--        @Manjula &emsp;-->
<!--        Follow us:-->
<!--        <a href="https://www.youtube.com/@SathyaTechnologieshyd" target="_blank">-->
<!--            <img src="{% static 'images/utube.jpg' %}" height="10" width="20" alt="YouTube">-->
<!--        </a>-->
<!--    </p>-->

<!--</body>-->
<!--</html>-->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us - MediCare Pharmacy</title>
</head>
<body>

    <div align="right">
        <a href="{% url 'home' %}">Back</a>
    </div>

    <h2 align="center" style="color:red">Contact Us</h2>
    <hr>

    <!-- Replaced h1 with div to remove extra top/bottom space -->
    <div align="center">
        <img src="{% static 'images/logo1.png' %}" alt="logo" height="200" width="200">
    </div>

    <p align="center">
        <b>Owner:</b> Manjula Rachamreddy <br>
        <b>Phone:</b> 8886392162 <br>
        <b>Email:</b> r.manjureddy1011@gmail.com <br>
        <b>Address:</b> MediCare Pharmacy, Main Road, Hyderabad, India
    </p>
    <hr>

    <h3 align="center">Customer Support</h3>
    <p align="center">
        For any queries regarding orders, medicines, or services, reach out to us.<br>
        <b>Toll-Free:</b> 1800-123-456 <br>
        <b>Working Hours:</b> 9:00 AM – 9:00 PM (All Days)
    </p>

    <hr>
    <p align="center">
        Copy Rights @ Sathya Technology &emsp;
        @Manjula &emsp;
        Follow us:
        <a href="https://www.youtube.com/@SathyaTechnologieshyd" target="_blank">
            <img src="{% static 'images/utube.jpg' %}" height="10" width="20" alt="YouTube">
        </a>
    </p>

</body>
</html>
