<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>

<h2 align="center">Login</h2>
 <div align="right">
        <a href="{% url 'home' %}">HOME</a>
    </div>
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table align="center" cellpadding="8">
        <tr>
            <td>Username/email:</td>
            <td><input type="text" name="uname" required></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="p" required></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="Login">
            </td>
        </tr>
    </table>
</form>

{% if error %}
<p style="color:red;text-align:center;">{{ error }}</p>
{% endif %}

</body>
</html>
