
<!--{% load static %}-->

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Search Medicine - MediCare</title>-->
<!--</head>-->
<!--<body>-->

<!--<table width="100%" border="0">-->
<!--    <tr>-->
<!--        <td align="left" width="60%">-->
<!--            <img src="{% static 'images/logo1.png' %}" height="80" width="80" style="vertical-align:middle;">-->
<!--            <span style="font-size:28px; color:red; font-weight:bold; margin-left:10px;">-->
<!--                MediCare Pharmacy-->
<!--            </span>-->
<!--        </td>-->
<!--        <td align="right" width="40%">-->
<!--            <div><b>Ph no:</b> 8886392162</div>-->
<!--            <div><b>Email:</b> r.manjureddy1011@gmail.com</div>-->
<!--        </td>-->
<!--    </tr>-->
<!--</table>-->
<!--<hr>-->

<!--<h3 align="center">-->
<!--    <a href="{% url 'home' %}">Home</a>&emsp;-->
<!--    <a href="{% url 'add' %}">ADD</a>&emsp;-->
<!--    <a href="{% url 'remove' %}">Remove</a>&emsp;-->
<!--    <a href="{% url 'search' %}">Search</a>&emsp;-->
<!--    <a href="{% url 'billing' %}">Billing</a>&emsp;-->
<!--    <a href="{% url 'amount' %}">CheckAmount</a>&emsp;-->
<!--    <a href="{% url 'medlist' %}">Medicines List</a>&emsp;-->
<!--    <a href="{% url 'logout' %}">Logout</a>-->
<!--</h3>-->

<!--<hr>-->

<!--<h2 align="center">Search Medicine</h2>-->

<!--<form method="post" align="center">-->
<!--    {% csrf_token %}-->
<!--    <div>-->
<!--        Enter Medicine Name:-->
<!--        <input type="text" name="name" required>-->
<!--    </div>-->
<!--    <div style="margin-top:10px;">-->
<!--        <input type="submit" value="Search">-->
<!--    </div>-->
<!--</form>-->
<!--{% if med %}-->
<!--<br><br>-->
<!--<table align="center" border="1" cellpadding="10" cellspacing="0">-->

<!--    <tr>-->
<!--        <th>Name</th>-->
<!--        <th>Cost</th>-->
<!--        <th>Expiry</th>-->
<!--        <th>Usage</th>-->
<!--        <th>Dosage</th>-->
<!--        <th>Image</th>-->
<!--    </tr>-->

<!--    <tr>-->
<!--    <td>{{ med.name }}</td>-->
<!--    <td>{{ med.cost }}</td>-->
<!--    <td>{{ med.expiry }}</td>-->

<!--    &lt;!&ndash; Wrapped usage column &ndash;&gt;-->
<!--    <td style="max-width: 200px; white-space: normal; word-wrap: break-word;">-->
<!--        {{ med.usage }}-->
<!--    </td>-->

<!--    <td>{{ med.dosage }}</td>-->
<!--    <td><img src="{{ med.image.url }}" width="120"></td>-->
<!--</tr>-->
<!--</table>-->
<!--{% endif %}-->
<!--{% if error_msg %}-->
<!--    <div style="color:red; font-weight:bold; text-align:center; margin-top:20px;">-->
<!--        {{ error_msg }}-->
<!--        <br><br>-->
<!--        <a href="{% url 'add' %}"-->
<!--           style="text-decoration: underline; color: blue;">-->
<!--            Add Medicine-->
<!--        </a>-->
<!--    </div>-->
<!--{% endif %}-->
<!--</body>-->
<!--</html>-->


{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Medicine - MediCare</title>
</head>
<body>

<!-- HEADER -->
<table width="100%" border="0">
    <tr>
        <td align="left" width="60%">
            <img src="{% static 'images/logo1.png' %}" height="80" width="80" style="vertical-align:middle;">
            <span style="font-size:28px; color:red; font-weight:bold; margin-left:10px;">
                MediCare Pharmacy
            </span>
        </td>
        <td align="right" width="40%">
            <div><b>Ph no:</b> 8886392162</div>
            <div><b>Email:</b> r.manjureddy1011@gmail.com</div>
        </td>
    </tr>
</table>
<hr>

<!-- MENU -->
<h3 align="center">
    <a href="{% url 'home' %}">Home</a>&emsp;
    <a href="{% url 'add' %}">ADD</a>&emsp;
    <a href="{% url 'remove' %}">Remove</a>&emsp;
    <a href="{% url 'search' %}">Search</a>&emsp;
    <a href="{% url 'billing' %}">Billing</a>&emsp;
    <a href="{% url 'amount' %}">CheckAmount</a>&emsp;
    <a href="{% url 'medlist' %}">Medicines List</a>&emsp;
    <a href="{% url 'logout' %}">Logout</a>
</h3>
<hr>

<h2 align="center">Search Medicine</h2>

<form method="post" align="center">
    {% csrf_token %}
    <div>
        Enter Medicine Name:
        <input type="text" name="name" required>
    </div>
    <div style="margin-top:10px;">
        <input type="submit" value="Search">
    </div>
</form>

{% if med %}
    <br><br>
    <table align="center" border="1" cellpadding="10" cellspacing="0">
        <tr>
            <th>Name</th>
            <th>Cost</th>
            <th>Expiry</th>
            <th>Usage</th>
            <th>Dosage</th>
            <th>Image</th>
        </tr>
        <tr>
            <td>{{ med.name }}</td>
            <td>{{ med.cost }}</td>
            <td>{{ med.expiry }}</td>
            <td style="max-width: 200px; white-space: normal; word-wrap: break-word;">
                {{ med.usage }}
            </td>
            <td>{{ med.dosage }}</td>
            <td><img src="{{ med.image.url }}" width="120"></td>
        </tr>
    </table>

    <!-- Only show billing option for operators -->
    {% if can_bill %}
        <form method="post" action="{% url 'billing' %}" align="center" style="margin-top:20px;">
            {% csrf_token %}
            <input type="hidden" name="mid" value="{{ med.mid }}">
            Quantity: <input type="number" name="qty" required>
            <input type="submit" value="Generate Bill">
        </form>
    {% endif %}
{% endif %}

{% if error_msg %}
    <div style="color:red; font-weight:bold; text-align:center; margin-top:20px;">
        {{ error_msg }}
        <br><br>
        <a href="{% url 'add' %}" style="text-decoration: underline; color: blue;">Add Medicine</a>
    </div>
{% endif %}

</body>
</html>
